.virtualized-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.virtualized-page header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.back-link {
  text-decoration: none;
  color: #666;
  margin-bottom: 10px;
  display: inline-block;
}

.back-link:hover {
  color: #333;
}

.list-container {
  flex: 1;
  margin: 20px;
  position: relative;
}

.section-wrapper {
  position: absolute;
  width: 100%;
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background: white;
}

.sticky-item {
  background-color: #f0f0f0;
  font-weight: bold;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.virtual-grid {
  outline: none;
  will-change: transform;
} 


.ReactVirtualized__Grid__innerScrollContainer{
  width: 100%!important;
  overflow: unset!important;
  position: static!important;
  max-width: unset!important;
  max-height: unset!important;
}

.table-header {
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sticky-item {
  background-color: #f0f0f0;
  font-weight: bold;
  position: sticky;
  top: 40px;
  z-index: 1;
}